# Ignore everything
*

# Allow necessary source files
# Note: test suite is intentionally skipped
!include/**
!ngx_conf/**
!public/**
!src/**
!third_party/**

# Allow build files in top-level directory
!CMakeLists.txt
!config*
