sudo: false

language: php

dist: trusty

php:
  - 7.0.13
  - 7.1

env:
  global:
    - VIPS_VERSION_MAJOR=8
    - VIPS_VERSION_MINOR=5
    - VIPS_VERSION_MICRO=5
    - PATH=$HOME/vips/bin:$PATH
    - LD_LIBRARY_PATH=$HOME/vips/lib:$LD_LIBRARY_PATH
    - PKG_CONFIG_PATH=$HOME/vips/lib/pkgconfig:$PKG_CONFIG_PATH
    - PYTHONPATH=$HOME/vips/lib/python2.7/site-packages:$PYTHONPATH
    - GI_TYPELIB_PATH=$HOME/vips/lib/girepository-1.0:$GI_TYPELIB_PATH

cache:
  apt: true
  directories:
    - $HOME/.composer/cache
    - $HOME/vips

addons:
  apt:
    packages:
      - gobject-introspection
      - libcfitsio3-dev
      - libfftw3-dev
      - libgif-dev
      - libgs-dev
      - libgsf-1-dev
      - libmatio-dev
      - libopenslide-dev
      - liborc-0.4-dev
      - libpango1.0-dev
      - libpoppler-glib-dev
      - libwebp-dev

before_install:
  - bash install-vips.sh 
    --disable-debug 
    --disable-dependency-tracking 
    --disable-introspection 
    --disable-static 
    --enable-gtk-doc-html=no 
    --enable-gtk-doc=no 
    --enable-pyvips8=no 
    --without-orc 
    --without-python
  - yes '' | pecl install vips

install: composer install --prefer-dist

script: composer test