* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $page-bg;
  color: $core-text;
  font-family: $font-family-default;
  font-weight: $font-weight-light;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $core-accent;

  &:hover {
    color: darken($core-accent, 30%);
  }
}

p, ul, ol {
  margin-top: 1rem;
}

ul, ol {
  margin-left: 2.5rem;
}

b, strong, label, th {
  font-weight: $font-weight-bold;
}
