#header {
  background: $header-bg;
  color: $white;
  text-align: center;
  border-bottom: 4px solid $core-accent;
  padding: 1rem;

  a {
    display: inline-block;
  }
}

.searchbox {
  margin-top: 0.5rem;
  position: relative;

  border: 1px solid lighten($header-bg, 5%);
  background: darken($header-bg, 5%);
  border-radius: 4px;

  label {
    color: rgba($white, 0.8);
    position: absolute;
    left: 10px;
    top: 3px;
  }

  span {
    color: rgba($white, 0.6);
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;

    &:hover {
      color: rgba($white, 0.9);
    }
  }

  input {
    display: inline-block;
    color: $white;
    width: 100%;
    height: 30px;
    background: transparent;
    border: 0;
    padding: 0 25px 0 30px;
    margin: 0;
    font-weight: $font-weight-regular;

    @include placeholder {
      color: rgba($white, 0.6);
    }
  }
}
