// Headings
h1, h2 {
  font-weight: $font-weight-regular;
  text-rendering: optimizeLegibility;
}

h1.param,
h2.param,
h3.param {
  display: inline-block;

  + code {
    margin-left: .5rem;
  }
}

h1 {
  font-size: 2.15rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

// Notes
div.notices {
  margin: 2rem 0;

  p {
    display: block;
    margin: 0;
    padding: 15px;
    font-size: 1rem;
    color: $core-text;
  }

  .heading {
    display: block;
    padding-left: 15px;
    font-size: 1rem;
    color: $white;
  }

  &.info {
    .heading {
      background: #F0B37E;
    }

    p {
      background: #FFF2DB;
    }
  }

  &.warning {
    .heading {
      background: #F92F2F;
    }

    p {
      background: #FAE2E2;
    }
  }

  &.note {
    .heading {
      background: #6AB0DE;
    }

    p {
      background: #E7F2FA;
    }
  }

  &.tip {
    .heading {
      background: #5CB85C;
    }

    p {
      background: #E6F9E6;
    }
  }
}

// Inline and Code
code,
kbd,
pre,
samp {
  font-family: $font-family-mono;
  font-size: 1rem;
}

code {
  background: $code-bg;
  white-space: nowrap;
  color: $code-text;
  border: 1px solid $code-border;
  padding: 0 2px;
  vertical-align: middle;
  border-radius: 2px;
}

pre {
  padding: .5rem .5rem .2rem .5rem;
  margin: 2rem 0;
  background: $pre-bg;
  border: 1px solid $core-border-color;
  border-radius: 2px;
  line-height: 1.15;
  font-size: 1rem;
  overflow-x: scroll;

  code {
    color: $pre-text;
    background: inherit;
    font-size: 1rem;
    white-space: inherit;
    border: 0;
    margin: 0;
    padding: 0;
  }
}
