// Sidebar
$sidebar-width: 336px;
$sidebar-width-smaller: 230px;
$sidebar-bg: #111;
$sidebar-inner-bg: #251f29;
$sidebar-link: #ccc;

// Core
$core-text: #111;
$core-accent: #a72376;
$white: #fff;
$light-gray: #ddd;

// Borders
$core-border-color: $light-gray;
$core-border-color-hover: darken($core-border-color, 10);

// Background
$page-bg: $white;
$header-bg: $sidebar-bg;

// Code / pre
$code-text: #111;
$code-bg: #fefaed;
$code-border: #fbf0cb;
$pre-text: #93236a;
$pre-bg: #f6f6f6;

// Font Weights
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

// Standard Colors
$turquoise: #1ABC9C;
$green_sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peter_river: #3498DB;
$belize_hole: #2980B9;
$amethyst: #A66BBE;
$wisteria: #8E44AD;
$wet_asphalt: #34495E;
$midnight_blue: #2C3E50;
$sunflower: #F2CA27;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;
