#weserv-logo {
  font-size: 2em;
}

.new {
  display: inline-block;
  line-height: 1;
  margin-left: .5rem;
  background-color: $core-accent;
  border: 0 solid $core-accent;
  padding: .5833em .833em;
  color: $white;
  text-transform: none;
  font-weight: $font-weight-bold;
  font-size: .85714286rem;
  border-radius: .28571429rem;
}

.github-fork-ribbon {
  &:before {
    background-color: #a72376;
  }
  position: fixed !important;
}

#header strong {
  color: $core-accent;
}

.dd-item .cen {
  text-align: center;
}

tr, td, th {
  vertical-align: middle;
}

a.trimedges:hover img {
  background-color: $peter_river !important;
}

a.trimedges img {
  border: 1px dashed $peter_river;
}

// Media Query stuff
@include breakpoint(desktop-only) {
  #sidebar {
    width: $sidebar-width-smaller;
  }

  #body {
    margin-left: $sidebar-width-smaller;
  }

  #weserv-logo {
    font-size: 1.6em;
  }
}

@include breakpoint(mobile-only) {
  #sidebar {
    position: relative;
    clear: both;
    height: auto;
    width: 100%;

    .scrollbar-inner {
      display: none;
    }
  }

  #body {
    margin-left: 0;
    width: 100%;
  }
}

table#url_progress {
  tr {
    td, th {
      width: 120px;
    }
    td.md5, th.md5 {
        width: 320px;
    }
    td.url, th.url {
      max-width: 200px;
      white-space: nowrap;
      width: auto !important;
    }
    td.url {
      overflow-x: auto;
    }
  }
}

textarea#url_input {
  overflow-x: scroll;
  padding: .5rem .5rem .2rem .5rem;
  border: 1px solid #ccc;
  width: 100%;
}