#body {
  padding: 20px;
  margin-bottom: 5rem;
  margin-left: $sidebar-width;
  min-height: 100%;
}

#footer {
  text-align: center;
  color: darken($sidebar-link, 10%);
  font-size: 13px;

  a {
    color: darken($sidebar-link, 10%);
    img {
      max-width: 280px;
    }
  }
}
